.logo{
    height: 100%;
    text-align: center;
}

.flex-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    .header{
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    
}
.list{
    background-color: blue;
 }

 